# Global requirements file.
# Keep the listed packages up to date when new packages/versions are being used. 
# The requirements file format is explained at https://pip.pypa.io/en/latest/reference/requirements-file-format/.

PySide6==6.6.2
plotly==5.19.0
python-dateutil==2.8.2
spacy==3.7.4
gensim==4.3.2
wordcloud==1.9.3
pyinstaller==6.4.0
matplotlib==3.8.3
nltk==3.8.1
numpy==1.26.4
networkx==3.2.1
striprtf==0.0.26 # rtf_files to csv file

#pytest
pytest==8.0.2
pytest-qt==4.4.0
pluggy==1.4.0
iniconfig==2.0.0
coverage==7.4.4
