# Global requirements file.
# Keep the listed packages up to date when new packages/versions are being used. 
# The requirements file format is explained at https://pip.pypa.io/en/latest/reference/requirements-file-format/.

PySide6==6.6.2
plotly==5.19.0
textract==1.6.5
spacy==3.7.4
gensim==4.3.2
pyinstaller==6.4.0
matplotlib==3.8.3

# rtffolder to csv py file
striprtf==0.0.26

# Since we already have an internal stopwords file and
# we don't need nltk for anything else at the moment, we can ignore this import.
# nltk==3.8.1